
body{
background: rgb(113, 193, 209);
}
.frame1{
    width: 796px;
    height: 100px;
    top: 103px;
    left: 242px;
    gap: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame2{
    width: 611px;
    height: 200px;
    gap: 64px;
}
.frame3{
    width: 814px;
    height:1,252px;
    top: 123px;
    left: 233px;
    gap: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    
}
.frame4{
    width: Fill (814px);
    height: Hug (468px);
    gap: 40px;

}
.judul2{
    width: 477px;
    height: 120px;
}
.judul{
    width: 700px;
    height: 106px;
}
h1{
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
}
img{
    width: 710px;
    height: 350px;
    margin-top: 20px;
}
button{
    width: Hug (167px);
    height: Hug (61px);
    padding: 18px 24px 18px 24px;
    border-radius: 4px;
    gap: 24px;
    background: #0E7490;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

    font-family: Satoshi;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}
.isi{
    width: 500px;
    height: 395px;
    gap: 64px;
    font-family: Satoshi;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}