
body{
background: white;
display: flex;
justify-content: center;
}
.frame1{
    width: Hug (796px);
    height: Hug (850px);
    top: 103px;
    left: 242px;
    gap: 59px;
}
.frame2{
    width: Hug (611px);
    height: Hug (200px);
    gap: 64px;
}
.judul{
    width: 794px;
    height: 106px;
    font-family: Plus Jakarta Sans;
    font-size: 44px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
}
img{
    width: 796px;
    height: 393px;
}
button{
    width: Hug (167px);
    height: Hug (61px);
    padding: 18px 24px 18px 24px;
    border-radius: 4px;
    gap: 24px;
    background: #0E7490;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

    font-family: Satoshi;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}
.isi{
    width: Hug (611px);
    height: Hug (395px);
    gap: 64px;
    font-family: Satoshi;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}